<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="../../images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic" />
</head>

<body class="email">
    <section class="title">
        <h1>
            Here's your summary of the week
        </h1>
    </section>
    <section class="dayRow">
        <h2 class="day">2021-04-11</h2>
        <div class="daysHeadlines">
            <div class="headline">
                <img src="https://www.bbc.com/favicon.ico" />
                <a class="media__link" href="http://www.bbc.com/news/world-asia-56395085" rev="hero1|headline">
                    Bloody day in Myanmar's main city sees 14 killed
                </a>
            </div>
            <div class="headline">
                <img src="https://www.lrt.lt/images/favicons/favicon-32x32.png?v=200" />
                <a href="https://www.lrt.lt/naujienos/lietuvoje/2/1369604/pavasariski-orai-sugris-jau-antradieni-o-savaites-pabaigoje-sulauksime-ir-13-laipsniu-silumos"
                    title="Pavasariški orai sugrįš jau antradienį, o savaitės pabaigoje sulauksime ir 13 laipsnių šilumos">Pavasariški
                    orai sugrįš jau antradienį, o savaitės pabaigoje sulauksime ir 13 laipsnių šilumos</a>
            </div>

        </div>
    </section>
    <section class="dayRow">
        <h2 class="day">2021-04-12</h2>
        <div class="daysHeadlines">
            <div class="headline">
                <img src="https://www.lrt.lt/images/favicons/favicon-32x32.png?v=200" />
                <a href="http://www.lrt.lt/naujienos/pasaulyje/6/1369596/bidenas-sako-esas-nusivyles-turkijos-sprendimu-pasitraukti-is-stambulo-konvencijos"
                    title="Bidenas sako esąs „nusivylęs“ Turkijos sprendimu pasitraukti iš Stambulo konvencijos">
                    Bidenas sako esąs „nusivylęs“ Turkijos sprendimu pasitraukti iš Stambulo konvencijos
                </a>
            </div>
            <div class="headline">
                <img src="https://www.bbc.com/favicon.ico" />
                <a class="media__link"
                    href="https://www.bbc.com/worklife/article/20210305-why-in-person-workers-may-be-more-likely-to-get-promoted"
                    rev="hero5|headline">
                    The one major drawback of remote working </a>
            </div>
        </div>
    </section>
</body>

<style>
    .email {
        background-color: #f2f2f2;
    }

    .headline {
        margin: 20px 0 20px 20px;
    }

    .headline img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .headline a {
        font-size: 22px;
        font-family: sans-serif;
    }
</style>

</html>